@model IEnumerable<ToDoList.Models.ProjectList>

@{
    ViewData["Title"] = "Index";
}

<h1>Projekty do wykonania</h1>

<p>
    <a asp-action="Create">Utwórz nowy projekt zadań do wykonania</a>
</p>
<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Podaj nazwę projektu" value="@ViewData["Getprojectdetails"]" name="Projectsearch" style="width:500px;" />
        <input type="submit" value="Wyszukaj" class="btn btn-primary" />
        <a asp-action="Index">Pokaż wszystkie projekty</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortingtask="@ViewData["Sortingproject"]">Lista projektów</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="ToDo" asp-action="Index">@item.Project</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
